# Name: Snehal Shyam Jagtap

## ASSOCIATION RULES

#### The Objective of this assignment is to introduce students to rule mining techniques, particularly focusing on market basket analysis and provide hands on experience.

## step 1 :Import Libraries

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
data = pd.read_excel('Online Retails.xlsx')

## Step 2: Data Preprocessing

In [6]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [7]:
data.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [9]:
data.shape

(541909, 8)

In [10]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [11]:
# Pivoting data to create a basket matrix
basket = data.groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().fillna(0)

In [12]:
# Convert values to binary (0 for not purchased, 1 for purchased)
basket = basket.applymap(lambda x: 1 if x > 0 else 0)

In [13]:
# Optional: Remove infrequent products (e.g., purchased less than 5 times)
basket = basket.loc[:, (basket.sum(axis=0) >= 5)]
print(basket.head())

Description   4 PURPLE FLOCK DINNER CANDLES   50'S CHRISTMAS GIFT BAG LARGE  \
InvoiceNo
536365                                    0                               0
536366                                    0                               0
536367                                    0                               0
536368                                    0                               0
536369                                    0                               0

Description   DOLLY GIRL BEAKER   I LOVE LONDON MINI BACKPACK  \
InvoiceNo
536365                        0                             0
536366                        0                             0
536367                        0                             0
536368                        0                             0
536369                        0                             0

Description   NINE DRAWER OFFICE TIDY   OVAL WALL MIRROR DIAMANTE   \
InvoiceNo
536365                              0                            0
536366                              0                            0
536367                              0                            0
536368                              0                            0
536369                              0                            0

Description   RED SPOT GIFT BAG LARGE   SET 2 TEA TOWELS I LOVE LONDON   \
InvoiceNo
536365                              0                                 0
536366                              0                                 0
536367                              0                                 0
536368                              0                                 0
536369                              0                                 0

Description   SPACEBOY BABY GIFT SET   TRELLIS COAT RACK  ...  \
InvoiceNo                                                 ...
536365                             0                   0  ...
536366                             0                   0  ...
536367                             0                   0  ...
536368                             0                   0  ...
536369                             0                   0  ...

Description  ZINC T-LIGHT HOLDER STARS SMALL  ZINC TOP  2 DOOR WOODEN SHELF   \
InvoiceNo
536365                                     0                               0
536366                                     0                               0
536367                                     0                               0
536368                                     0                               0
536369                                     0                               0

Description  ZINC WILLIE WINKIE  CANDLE STICK  ZINC WIRE KITCHEN ORGANISER  \
InvoiceNo
536365                                      0                            0
536366                                      0                            0
536367                                      0                            0
536368                                      0                            0
536369                                      0                            0

Description  ZINC WIRE SWEETHEART LETTER TRAY  adjustment  amazon  check  \
InvoiceNo
536365                                      0           0       0      0
536366                                      0           0       0      0
536367                                      0           0       0      0
536368                                      0           0       0      0
536369                                      0           0       0      0

Description  found  had been put aside
InvoiceNo
536365           0                   0
536366           0                   0
536367           0                   0
536368           0                   0
536369           0                   0

[5 rows x 3539 columns]

## Step 3: Frequent Itemsets Generation

In [16]:
from mlxtend.frequent_patterns import fpgrowth

In [17]:
frequent_itemsets = fpgrowth(basket, min_support=0.01, use_colnames=True)
print(frequent_itemsets.head())

C:\Users\sneha\Downloads\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                               itemsets
0  0.092449   (WHITE HANGING HEART T-LIGHT HOLDER)
1  0.018776  (KNITTED UNION FLAG HOT WATER BOTTLE)
2  0.017549       (RED WOOLLY HOTTIE WHITE HEART.)
3  0.015544         (SET 7 BABUSHKA NESTING BOXES)
4  0.012558                  (WHITE METAL LANTERN)

## Step 4: Generate Association Rules

In [19]:
# Create association rules
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)

In [20]:
# Display the top rules sorted by lift
rules = rules.sort_values('lift', ascending=False)
print(rules.head(10))

                                            antecedents  \
1417                           (REGENCY TEA PLATE PINK)
1412  (REGENCY TEA PLATE GREEN , REGENCY TEA PLATE R...
1414  (REGENCY TEA PLATE ROSES , REGENCY TEA PLATE P...
1415                         (REGENCY TEA PLATE GREEN )
1408                         (REGENCY TEA PLATE GREEN )
1409                           (REGENCY TEA PLATE PINK)
1416                         (REGENCY TEA PLATE ROSES )
1413  (REGENCY TEA PLATE GREEN , REGENCY TEA PLATE P...
1410                         (REGENCY TEA PLATE ROSES )
1411                           (REGENCY TEA PLATE PINK)

                                            consequents  antecedent support  \
1417  (REGENCY TEA PLATE GREEN , REGENCY TEA PLATE R...            0.012476
1412                           (REGENCY TEA PLATE PINK)            0.013049
1414                         (REGENCY TEA PLATE GREEN )            0.011004
1415  (REGENCY TEA PLATE ROSES , REGENCY TEA PLATE P...            0.015585
1408                           (REGENCY TEA PLATE PINK)            0.015585
1409                         (REGENCY TEA PLATE GREEN )            0.012476
1416  (REGENCY TEA PLATE GREEN , REGENCY TEA PLATE P...            0.018203
1413                         (REGENCY TEA PLATE ROSES )            0.011372
1410                           (REGENCY TEA PLATE PINK)            0.018203
1411                         (REGENCY TEA PLATE ROSES )            0.012476

      consequent support   support  confidence       lift  leverage  \
1417            0.013049  0.010431    0.836066  64.070404  0.010268
1412            0.012476  0.010431    0.799373  64.070404  0.010268
1414            0.015585  0.010431    0.947955  60.823405  0.010260
1415            0.011004  0.010431    0.669291  60.823405  0.010260
1408            0.012476  0.011372    0.729659  58.482750  0.011178
1409            0.015585  0.011372    0.911475  58.482750  0.011178
1416            0.011372  0.010431    0.573034  50.389863  0.010224
1413            0.018203  0.010431    0.917266  50.389863  0.010224
1410            0.012476  0.011004    0.604494  48.450720  0.010777
1411            0.018203  0.011004    0.881967  48.450720  0.010777

      conviction  zhangs_metric
1417    6.020400       0.996829
1412    4.922188       0.997408
1414   18.914824       0.994502
1415    2.990536       0.999131
1408    3.652878       0.998462
1409   11.120239       0.995319
1416    2.315471       0.998328
1413   11.866933       0.991429
1410    2.496863       0.997519
1411    8.317999       0.991734

## step 5 :save the result

In [21]:
# Save rules to a CSV file
rules.to_csv('association_rules_output.csv', index=False)

In [26]:
df=pd.read_csv('association_rules_output.csv')

In [27]:
df.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,frozenset({'REGENCY TEA PLATE PINK'}),"frozenset({'REGENCY TEA PLATE GREEN ', 'REGENC...",0.012476,0.013049,0.010431,0.836066,64.070404,0.010268,6.020400,0.996829
1,"frozenset({'REGENCY TEA PLATE GREEN ', 'REGENC...",frozenset({'REGENCY TEA PLATE PINK'}),0.013049,0.012476,0.010431,0.799373,64.070404,0.010268,4.922188,0.997408
2,"frozenset({'REGENCY TEA PLATE ROSES ', 'REGENC...",frozenset({'REGENCY TEA PLATE GREEN '}),0.011004,0.015585,0.010431,0.947955,60.823405,0.010260,18.914824,0.994502
3,frozenset({'REGENCY TEA PLATE GREEN '}),"frozenset({'REGENCY TEA PLATE ROSES ', 'REGENC...",0.015585,0.011004,0.010431,0.669291,60.823405,0.010260,2.990536,0.999131
4,frozenset({'REGENCY TEA PLATE GREEN '}),frozenset({'REGENCY TEA PLATE PINK'}),0.015585,0.012476,0.011372,0.729659,58.482750,0.011178,3.652878,0.998462

## Interview Questions:

1.	What is lift and why is it important in Association rules?

2.	What is support and Confidence. How do you calculate them?

3.	What are some limitations or challenges of Association rules mining?

**1. What is lift and why is it important in Association Rules?**

**Definition:** Lift is a metric that measures the strength of an association rule by comparing the observed frequency of co-occurrence of items to the expected frequency if the items were independent. It is calculated as the ratio of the confidence of the rule to the support of the consequent.

**Importance:** Lift helps identify the strength of the relationship between items. A lift value greater than 1 indicates a positive correlation, meaning the presence of one item increases the likelihood of the other, which can be crucial for marketing strategies and product placements.

**2. What is support and confidence? How do you calculate them?**

**Support:** Support measures the frequency with which an itemset appears in the dataset. It is calculated as the number of transactions containing the itemset divided by the total number of transactions.

Support
(
ùê¥
)
=
Number¬†of¬†transactions¬†containing¬†A
----------------
Total¬†number¬†of¬†transactions

‚Äã
 
**Confidence:** Confidence measures the likelihood that item B is purchased when item A is purchased. It is calculated as the number of transactions containing both A and B divided by the number of transactions containing A.

Confidence(A‚ÜíB)= 
Support(A‚à™B)
/
Support(A)

**3. What are some limitations or challenges of Association Rules Mining?**
**High Dimensionality:** The presence of many items can lead to a combinatorial explosion of potential itemsets, making it computationally expensive to find frequent itemsets and generate rules. This can result in long processing times and difficulty in managing the resulting rules.

**Interpretation Challenges:**  The rules generated may not always be meaningful or actionable. Users may struggle to interpret complex rules, and the rules may not always lead to effective marketing or operational strategies, especially if the support and confidence thresholds are not properly set.